<ion-header>
  <ion-toolbar color="light">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-row>
    <ion-col
      class="login__col ion-justify-content-center ion-align-items-center ion-text-center"
      size-lg="7"
      size-md="7"
      size-sm="12"
      size-xs="12"
    >
      <form [formGroup]="formLogin">
        <ion-item class="ion-margin">
          <ion-label position="floating">Enter your name</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>

        <ion-item class="ion-margin">
          <ion-label position="floating">Enter your password</ion-label>
          <ion-input formControlName="pass" type="password"></ion-input>
        </ion-item>

        <ion-button color="dark" (click)="log()">Log in</ion-button>
      </form>
    </ion-col>
    <div class="signup-redirect ion-text-center">
      <a routerLink="/signup"><ion-text color="primary">Sign up</ion-text></a>
    </div>
  </ion-row>
</ion-content>
