<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-row>
    <ion-col
      class="signup__col ion-justify-content-center ion-align-items-center ion-text-center"
      size-lg="7"
      size-md="7"
      size-sm="12"
      size-xs="12"
    >
      <form [formGroup]="formSignup">
        <ion-item color="light" class="ion-margin">
          <ion-label position="floating">Enter your name</ion-label>
          <ion-input
            formControlName="name"
            class="signup-form__input"
          ></ion-input>
        </ion-item>

        <ion-item color="light" class="ion-margin">
          <ion-label position="floating">Enter your password</ion-label>
          <ion-input
            formControlName="pass"
            type="password"
            class="signup-form__input"
          ></ion-input>
        </ion-item>

        <ion-button
          (click)="presentAlert()"
          class="signup-form__button ion-margin-top ion-padding"
          fill="outline"
          color="danger"
          shape="round"
          >Sign up</ion-button
        >
      </form>
    </ion-col>
  </ion-row>
</ion-content>
